# Classic
tnt/tra/czech/**.tra                  working-tree-encoding=cp1250
tnt/tra/french/**.tra                 working-tree-encoding=cp1252
tnt/tra/german/**.tra                 working-tree-encoding=cp1252
tnt/tra/hungarian/**.tra              working-tree-encoding=cp1250
tnt/tra/italian/**.tra                working-tree-encoding=cp1252
tnt/tra/korean/**.tra                 working-tree-encoding=cp949
tnt/tra/polish/**.tra                 working-tree-encoding=cp1250
tnt/tra/portuguese/**.tra             working-tree-encoding=cp1252
tnt/tra/russian/**.tra                working-tree-encoding=cp1251
tnt/tra/spanish/**.tra                working-tree-encoding=cp1252
tnt/tra/swedish/**.tra                working-tree-encoding=cp1252
tnt/tra/schinese/**.tra               working-tree-encoding=cp936
tnt/tra/tchinese/**.tra               working-tree-encoding=cp950
tnt/tra/ukrainian/**.tra              working-tree-encoding=cp1251

# Classic or EE console, RU/UA
tnt/**/russian/**/install.tra         working-tree-encoding=cp866
tnt/**/russian/**/setup.tra           working-tree-encoding=cp866
tnt/**/ukrainian/**/install.tra       working-tree-encoding=cp866
tnt/**/ukrainian/**/setup.tra         working-tree-encoding=cp866

# EE only
tnt/tra/**/ee.tra                     working-tree-encoding=utf8
tnt/tra/**/*_ee.tra                   working-tree-encoding=utf8

# Linux console
tnt/**/setup-unix.tra                 working-tree-encoding=utf8
tnt/**/setup-osx.tra                  working-tree-encoding=utf8

# Windows console, other languages
tnt/tra_ee/czech/*-win32.tra          working-tree-encoding=cp1250
tnt/tra_ee/french/*-win32.tra         working-tree-encoding=cp1252
tnt/tra_ee/german/*-win32.tra         working-tree-encoding=cp1252
tnt/tra_ee/hungarian/*-win32.tra      working-tree-encoding=cp1250
tnt/tra_ee/italian/*-win32.tra        working-tree-encoding=cp1252
tnt/tra_ee/korean/*-win32.tra         working-tree-encoding=cp949
tnt/tra_ee/polish/*-win32.tra         working-tree-encoding=cp1250
tnt/tra_ee/portuguese/*-win32.tra     working-tree-encoding=cp1252
tnt/tra_ee/russian/*-win32.tra        working-tree-encoding=cp866
tnt/tra_ee/spanish/*-win32.tra        working-tree-encoding=cp1252
tnt/tra_ee/swedish/*-win32.tra        working-tree-encoding=cp1252
tnt/tra_ee/schinese/*-win32.tra       working-tree-encoding=cp936
tnt/tra_ee/tchinese/*-win32.tra       working-tree-encoding=cp950
tnt/tra_ee/ukrainian/*-win32.tra      working-tree-encoding=cp866
